# Manual Entry - Start
EXPO_PUBLIC_RESOURCES_URL=http://localhost:8082
API_URL=http://localhost:5052
SENDGRID_APIKEY=
DEFAULT_SENDER_EMAIL=test@test.com
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_ALLOW_DELETE=false
AUTH0_INCLUDED_ONLY=clients,clientGrants,roles,actions,triggers,connections,databases,resourceServers
# Manual Entry - End

# Auto Generated - Start

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
EXPO_PUBLIC_VAPID_KEY=
SPA_CLIENTID=
EXPO_PUBLIC_AUTH_CLIENT_ID=
EXPO_PUBLIC_AUTH_ENDPOINT=
# Auto Generated - End